.missionContainer {
  margin: 1rem 2rem;
}

.missionHeader {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
}

.missionHeader h3 {
  border-left: 1px solid #ccc;
  font-family: sans-serif;
  padding: 0.5rem;
}
